.wrapper{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #f5f5f5;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.wrapper button {
    padding: 10px 20px;
    background-color: #646464;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.accordian{
    width: 100%;
    max-width: 700px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 5px;
    overflow: hidden;
}

.item{
    background: #646464;
    margin-bottom: 10px;
    padding: 10px 20px;
}

.title{
    color: #fff;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.content{
    color: #fff;
    height: auto;
}